main {
    h2 {
        text-align: center;
    }

    section {
        width: 80%;
        margin: auto;

        form {
            margin-top: 2%;
            margin-bottom: 2%;
        }
    }


}